# Ignore the following files and directories
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.DS_Store
node_modules
bower_components
.vscode
.idea
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
*.pid
*.seed
*.pid.lock
*.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
.tox/
.nox/
.cache/
pytestdebug.log